<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdqKCs1yl5lfL87jioIAhxXadOtU8hEp0</string>
	<key>GCM_SENDER_ID</key>
	<string>4373122723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linens.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bantubangkit-52722</string>
	<key>STORAGE_BUCKET</key>
	<string>bantubangkit-52722.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4373122723:ios:39fd4c497d1a6bcd8ab916</string>
</dict>
</plist>